{% load static %}
<div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="index.html" class="logo">
              <img
                src="{% static 'administrator/assets/img/yamslogo.png' %}"
                alt="navbar brand"
                class="navbar-brand"
                height="40"
              />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item">
                <a href="{% url 'administrator:home' %}">
                  <i class="fas fa-home"></i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#sections">
                  <i class="fas fa-hotel"></i>
                  <p>School Sections</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="sections">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="{% url 'administrator:manage_sections' %}">
                        <span class="sub-item">Manage Sections</span>
                      </a>
                    </li>
                    {% for section in sections %}
                    <ul class="nav nav-collapse subnav">
                      <li>
                      <a href="icon-menu.html">
                        <span class="sub-item">{{ section.section_name }}</span>
                      </a>
                    </li>
                  </ul>
                    {% endfor %}
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#sidebarLayouts">
                  <i class="fas fa-users"></i>
                  <p>Manage users</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="sidebarLayouts">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="sidebar-style-2.html">
                        <span class="sub-item">Sectional Heads</span>
                      </a>
                    </li>
                    <li>
                      <a href="sidebar-style-2.html">
                        <span class="sub-item">Teachers</span>
                      </a>
                    </li>
                    <li>
                      <a href="sidebar-style-2.html">
                        <span class="sub-item">Students</span>
                      </a>
                    </li>
                    <li>
                      <a href="sidebar-style-2.html">
                        <span class="sub-item">Parents</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">System Components</h4>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#exams">
                  <i class="fas fa-pen-square"></i>
                  <p>Exam Management</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="exams">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="sidebar-style-2.html">
                        <span class="sub-item">View Exam Questions</span>
                      </a>
                    </li>
                    <li>
                      <a href="icon-menu.html">
                        <span class="sub-item">Approve Exams</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#forms">
                  <i class="fas fa-file-invoice-dollar"></i>
                  <p>School Fees</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="forms">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="forms/forms.html">
                        <span class="sub-item">Set Fees</span>
                      </a>
                    </li>
                    <li>
                      <a href="forms/forms.html">
                        <span class="sub-item">Fees record</span>
                      </a>
                    </li>
                    <li>
                      <a href="forms/forms.html">
                        <span class="sub-item">Approve Payment</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#tables">
                  <i class="fas fa-file-contract"></i>
                  <p>Report Cards</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="tables">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="tables/tables.html">
                        <span class="sub-item">Admin. Comments</span>
                      </a>
                    </li>
                    <li>
                      <a href="tables/datatables.html">
                        <span class="sub-item">Approve Scores</span>
                      </a>
                    </li>
                    <li>
                      <a href="tables/datatables.html">
                        <span class="sub-item">Approve Result</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#maps">
                  <i class="fas fa-file-signature"></i>
                  <p>Attendance Tracking</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="maps">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="maps/googlemaps.html">
                        <span class="sub-item">Individual Record</span>
                      </a>
                    </li>
                    <li>
                      <a href="maps/jsvectormap.html">
                        <span class="sub-item">Class Record</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#charts">
                  <i class="far fa-calendar-alt"></i>
                  <p>Media & Events</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="charts">
                  <ul class="nav nav-collapse">
                    <li>
                      <a href="charts/charts.html">
                        <span class="sub-item">School Calendar</span>
                      </a>
                    </li>
                    <li>
                      <a href="charts/sparkline.html">
                        <span class="sub-item">Blogs</span>
                      </a>
                    </li>
                     <li>
                      <a href="charts/sparkline.html">
                        <span class="sub-item">Gallery</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
                <li class="nav-item">
                <a href="{% url 'administrator:home' %}">
                  <i class="fas fa-table"></i>
                  <p>Time Table</p>
                </a>
              </li>  
            </ul>
          </div>
        </div>
      </div>